
body{
   
    margin: 200px 300px;
    padding: 0;
    background: #1F2937;


}
head{
    background-color: beige;
    color: #1C1C1C;
}
#Bcontainer{
    margin: 0;
    text-align: center;
    background:linear-gradient(246.26deg,rgba(66, 62, 62, 0.933) 0%,rgb(65, 108, 226)100%);
    background-size: cover;
    background-repeat: no-repeat;
    color: beige;
    font-size: large;
}
.columns{
   display:flexbox;
   margin: 100px; 
   text-align: center;
}
img{
    size: 10%;
}
button{
    display:flexbox;
    flex-direction: row;
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    background-color: #1F2937;
    color: beige;
    font-size: 26px;
    margin: 100px;
    padding: 9px 17px 9px 15px;
    gap: 12px;

}
button:hover{
    background-color: #484f58;
}
select{
    background-color:rgb(92, 92, 46);
    color: #331515;
    font-size: larger;
}
.container{
    display: flexbox;
    margin: 20px;
    text-align: center;
}
fieldset{
    text-align: center;
    color: rgb(14, 20, 7);
    
}